#login_container {
  background-color: #ccc;
  width: 500px;
  margin: 53px auto;
  height: 400px;
  direction: rtl;
}

#login_header {
  background: green;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.body_row {
  padding: 12px 30px;
  margin: 5px auto;
  text-align: center;
}

#register_select {
  width: 173px;
  height: 23px;
}

.body_label {
  width: 100px;
  display: inline-block;
}

.body_input {
  text-align: left;
}

.btn_login {
  margin-right: 80px;
  background: green;
  color: white;
  width: 100px;
  border: none;
  height: 24px;
  font-size: 16px;
  border-radius: 5px;
}
